@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}


.carrusel-container {
  max-width: 100%;
}

.container{ 
  max-width: fit-content;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.titulosrbarber{
  margin-left: 1em;
}

.carrusel{
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.carousel-caption {
  display:grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.377);
  font-size: 50px;
  
}

.boton-carrusel{
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 0.5em;
}
.carousel-control-next{
  border-color: transparent;
  background-color: transparent;
}
.carousel-control-prev{
  border-color: transparent;
  background-color: transparent;
}
.card-img-top{
  width: 5em;
}

/*Inicio*/
.voffset30 {
  padding-bottom: 5em;
}
.section {
  padding-top: 20px;
  
}



.row.visible {
  opacity: 1;
}

.voffset80 {
  padding-bottom: 80px;
}

.pretitle {
  font-family: 'Bitter', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 3px;
  font-style: italic;
  color: #000000;
  text-align: center;
}

.pretitle:after, .pretitle:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1px;
  border-bottom: 1px solid #000000;
  margin: 0 14px 4px;
}

.title {
  font-family: 'Oswald';
  color: #000000;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 52px;
  line-height: 50px;
  font-weight: 700;
}

.subtitle.colored {
  color: #b59472 !important;
}

.list-horizontal-links {
  margin-top: 26px;
  font-size: 16px;
  color: black;
  letter-spacing: 3px;
  line-height: 40px;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}



/*de aqui comienza la segunda wea*/

#bg-home-grid0 {
  background-image: url(../src/IMG/cimg1.jpg);
  padding-top: 600px;

}

.banner {
    background-color: #000;
    color: #fff;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.col-md-6{
  height: 31.3em;
  width: 100%;
  background-color: black;
}

.banner-tabs {
  height: 100%;
  padding: 150px 0;
}

.banner-tabs > div {
  padding: 0px 10%;
}

.carousel-cell{

  color: white;
}

.title-invert{
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 1em;
}

/*DE AQUI EMPIEZA LA 3RA WEA*/
.voffset110 {
  padding-bottom: 5em;
}

.features {
  text-align: center;
}
