@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}


.carrusel-container {
  max-width: 100%;
}

.container{ 
  max-width: fit-content;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.titulosrbarber{
  margin-left: 1em;
}

.carrusel{
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.carousel-caption {
  display:grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.377);
  font-size: 50px;
  
}

.boton-carrusel{
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 0.5em;
}
.carousel-control-next{
  border-color: transparent;
  background-color: transparent;
}
.carousel-control-prev{
  border-color: transparent;
  background-color: transparent;
}
.card-img-top{
  width: 5em;
}

/*Inicio*/
.voffset30 {
  padding-bottom: 5em;
}
.section {
  padding-top: 20px;
  
}

.custom-btn {
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
  background-color: white;
  color: black;
}

.custom-slash {
  margin: 0 10px;  /* Ajusta el espaciado según tus preferencias */
  color: #000000;  /* Color del carácter "/" */
  font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
}

/***LOGIN***/
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.btn-success {
  width: 100%;
  padding: 12px;
  font-size: 18px;
}

.recuperarc,
.register-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.recuperarc:hover,
.register-link:hover {
  text-decoration: underline;
}

/* ... (estilos existentes) */

.auth-link {
  display: block;
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  text-align: center;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.auth-link:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}



/***FIN LOGIN***/

/***REGISTRO***/
.auth-form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-title {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
/*** FIN REGISTRO***/

.row.visible {
  opacity: 1;
}

.voffset80 {
  padding-bottom: 80px;
}

.pretitle {
  font-family: 'Bitter', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 3px;
  font-style: italic;
  color: #000000;
  text-align: center;
}

.pretitle:after, .pretitle:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1px;
  border-bottom: 1px solid #000000;
  margin: 0 14px 4px;
}

.title {
  font-family: 'Oswald';
  color: #000000;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 52px;
  line-height: 50px;
  font-weight: 700;
}

.subtitle.colored {
  color: #b59472 !important;
}

.list-horizontal-links {
  margin-top: 26px;
  font-size: 16px;
  color: black;
  letter-spacing: 3px;
  line-height: 40px;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}



/*de aqui comienza la segunda wea*/

#bg-home-grid0 {
  background-image: url(../src/IMG/cimg1.jpg);
  padding-top: 600px;

}

.banner {
    background-color: #000;
    color: #fff;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.col-md-6{
  height: 31.3em;
  width: 100%;
  background-color: black;
}

.banner-tabs {
  height: 100%;
  padding: 150px 0;
}

.banner-tabs > div {
  padding: 0px 10%;
}

.carousel-cell{

  color: white;
}

.title-invert{
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 1em;
}

/*DE AQUI EMPIEZA LA 3RA WEA*/
/* Estilo para la sección de Servicios específica */
.services-section {
  text-align: center;
  padding-top: 40px; /* Ajusta el espaciado superior según tus preferencias */
  padding-bottom: 40px; /* Ajusta el espaciado inferior según tus preferencias */
  background-color: #f9f9f9; /* Color de fondo para la sección */
  border-radius: 15px; /* Ajusta el radio del borde según tus preferencias */
}

.services-section .pretitle {
  font-family: 'Bitter', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 3px;
  font-style: italic;
  color: #000000;
}

.services-section h1.title {
  font-family: 'Oswald';
  color: #000000;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 52px;
  line-height: 50px;
  font-weight: 700;
}

.services-section .subtitle.colored {
  color: #b59472;
}

.services-section .voffset110 {
  padding-bottom: 40px; /* Ajusta el espaciado inferior según tus preferencias */
}

/* Estilo para la sección de Conócenos */
.about-us-section {
  text-align: center;
  padding-top: 40px; /* Ajusta el espaciado superior según tus preferencias */
  padding-bottom: 40px; /* Ajusta el espaciado inferior según tus preferencias */
}

.about-us-section .pretitle {
  font-family: 'Bitter', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 3px;
  font-style: italic;
  color: #000000;
}

.about-us-section h1.title {
  font-family: 'Oswald';
  color: #000000;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 52px;
  line-height: 50px;
  font-weight: 700;
}

.about-us-section .subtitle.colored {
  color: #b59472;
}

.about-us-section .voffset80 {
  padding-bottom: 40px; /* Ajusta el espaciado inferior según tus preferencias */
}

.about-us-section .custom-btn {
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-us-section .custom-btn:hover {
  background-color: white;
  color: black;
}

.about-us-section .custom-slash {
  margin: 0 10px; /* Ajusta el espaciado según tus preferencias */
  color: #000000; /* Color del carácter "/" */
  font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
}




.voffset110 {
  padding-bottom: 5em;
}

.features {
  text-align: center;
}


.features img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Puedes ajustar el radio según tus preferencias */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para un efecto elevado */
}

.features .horizontal-border {
  background-color: #fff; /* Color de fondo para las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para un efecto elevado */
  border-radius: 8px; /* Puedes ajustar el radio según tus preferencias */
  overflow: hidden;
}

.features .titlefeat {
  font-size: 24px;
  margin-bottom: 15px;
}

.features .textfeat {
  font-size: 16px;
  color: #555; /* Puedes ajustar el color según tus preferencias */
}

/* Estilos generales de formulario */
.recuperacion-contraseña-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recuperacion-contraseña-container h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.recuperacion-contraseña-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.recuperacion-contraseña-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.recuperacion-contraseña-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* Estilos generales de formulario */
.reset-password-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-container h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.reset-password-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.reset-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.reset-password-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/***VER PRODUCTOS ADMIN***/
.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow: hidden;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.card-body {
  padding: 15px;
}

.form-control {
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-secondary {
  background-color: #3498db;
}

.btn-danger {
  background-color: #e74c3c;
}

/***FIN VER PRODUCTOS ADMIN***/
